src/test/resources/datasets/dataset.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT dataset (people*, users*, pets*)>
<!ELEMENT people EMPTY>
<!ELEMENT users EMPTY>
<!ELEMENT pets EMPTY>
<!ATTLIST people
    id CDATA #IMPLIED
    name CDATA #IMPLIED
    surname CDATA #IMPLIED
>
<!ATTLIST users
    login CDATA #IMPLIED
    password CDATA #IMPLIED
>
<!ATTLIST pets
    id CDATA #IMPLIED
    name CDATA #IMPLIED
    breed CDATA #IMPLIED
    animal CDATA #IMPLIED
    owner_id CDATA #IMPLIED
>